.rightMainSection {
  width: 100%;
  margin-left: 15px;
  padding: 0 16px;
}

.searchText {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 17px;
  color: #170f1d;
}

.leftMainSection {
  background: #ffffff;
  border-radius: 10px;
  padding: 28px 15px;
  width: 240px;
}

.searchInput {
  width: 210px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-width: 1px;
  border-radius: 6px;
  padding: 10px 12px;
}

.iconBox {
  display: none;
}

.filterGroup {
  margin-top: 19px;
}

@media screen and (max-width: 849px) {
  .filterGroup {
    margin-top: 8px;
    width: 240px;
    position: absolute;
    right: 15%;
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
  }
  .searchInput {
    width: 100%;
  }

  .leftMainSection {
    background: #fff;
    border-radius: 0;
    padding: 15px 15px 0 16px;
    width: 100%;
  }

  .rightMainSection {
    margin-left: 0;
    padding: 0 16px;
  }

  .searchText {
    display: none;
  }

  .showFilter {
    width: 13px;
    height: 12px;
  }

  .iconBox {
    width: 45px;
    height: 45px;
    border: 1px solid #d0d5dd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
  }
}
