.filters-container {
  margin-top: 19px;
}

@media screen and (max-width: 849px) {
  .filters-container {
    margin-top: 8px;
    width: 240px;
    top: 60px;
    position: absolute;
    right: 15px;
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #d0d5dd;
    z-index: 999;
  }
}
