@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Inter', sans-serif !important;
}

/* added for save/cancel buttons on Antd form */
.ant-row {
  justify-content: flex-end;
}

.ant-col-12 {
  flex: initial;
}

.ant-modal-body {
  padding: 0;
}
